body{
    border: 30px solid rgb(118, 67, 0);
}
#contenedorProductos{
    
}
#divHeader{
    border: 15px rgb(255, 193, 116) solid;
}

.nav-item{
    font-size: 18px;
}
.navBarImg{
    height: 100px;
    width: 120px;
}
.card{
    width: 300px;
    align-items: center;
    display: flex;
    margin: 0.5rem;
}
.caja {
    border: 2px blue solid;
    background-color: aqua;
}

.dark-mode{
    background-color: rgb(109, 22, 22);
    color: white ;
}

.lista{
    background-color: lightcoral;
}

.imgProducto{
    width: 249px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}
img{
    width: 200px;
    height: 250px;
}
#contenedor2{
    display: flex;
    justify-content: space-around;
}
#contendorCarrito{
    display: flex;
    flex-direction: row;
}
.btnCarrito1{
    color: green;
    font-size: 35px;
}
.btnCarrito2{
    color: red;
    font-size: 35px;
}
